*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
body {
    background:linear-gradient(rgba(212, 11, 11, 0.6), rgba(236, 106, 106, 0.4)), url("../images/fondo.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-left: 20px;
    margin-top: 0px;
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

a {
    color: #fff;
	text-decoration: none;
    font-size: 1.20em;
}

a:hover{
    color: rgb(5, 5, 5);
	text-decoration: none;
    font-size: 1.20em;
}
/* estilos para tarjetas de presentacion*/
h6 {
	color: white;
	font-size: 1.50em;
	text-decoration: none;
	
	
  }
  .order-card {
	color: #fff;
  }

  .bg-c-blue {
	background-color: rgba(38, 95, 218, 0.5);
	text-align: center;
	height: 150px;
	
  }
  .bg-c-blue:hover {
	background-color: rgba(94, 248, 248, 0.5);
	text-align: center;
	height: 150px;
	
  }

  .bg-c-green {
	background-color: rgba(18, 170, 56, 0.5);
	text-align: center;
	height: 150px;
	
  }
  .bg-c-green:hover {
	background-color: rgba(94, 248, 248, 0.5);
	text-align: center;
	height: 150px;
	
  }

  .bg-c-yellow {
	background-color: rgba(214, 218, 9, 0.5);
	text-align: center;
	height: 150px;
	
  }
  .bg-c-yellow:hover {
	background-color: rgba(94, 248, 248, 0.5);
	text-align: center;
	height: 150px;
	
  }

  .bg-c-pink {
	
	background-color: rgba(226, 29, 160, 0.5);
	text-align: center;
	height: 150px;
  }
  .bg-c-pink:hover {
	
	background-color: rgba(94, 248, 248, 0.5);
	text-align: center;
	height: 150px;
  }

  .bg-c-blue2 {
	background-color: rgba(23, 49, 97, 0.5);
	text-align: center;
	height: 150px;
	
  }
  .bg-c-blue2:hover {
	background-color: rgba(94, 248, 248, 0.5);
	text-align: center;
	height: 150px;
	
  }
  .bg-c-green2 {
	background-color: rgba(25, 224, 7, 0.5);
	text-align: center;
	height: 150px;
	
  }
  .bg-c-green2:hover {
	background-color: rgba(94, 248, 248, 0.5);
	text-align: center;
	height: 150px;
	
  }


  .card {
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
	box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.86);
	border: none;
	margin-bottom: 30px;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	
  }

  .card .card-block {
	padding: 25px;
  }

  .order-card i {
	font-size: 26px;
  }

  .f-left {
	float: left;
  }

  .f-right {
	float: right;
  }
 

  .row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
}

.row:after, .row:before {
  box-sizing: border-box;
}

[class*="col-"] {
  padding: 10px;
}

@media screen and (max-width: 760px){
    .body_move{
        margin-left: 0px;
    }

    .menu__side_move{
        width: 80px;
        left: -80px;
    }
}

@media only screen and (min-width: 768px) {
	.col-m-1 {width: 8.33%;}
	.col-m-2 {width: 16.66%;}
	.col-m-3 {width: 25%;}
	.col-m-4 {width: 33.33%;}
	.col-m-5 {width: 41.66%;}
	.col-m-6 {width: 50%;}
	.col-m-7 {width: 58.33%;}
	.col-m-8 {width: 66.66%;}
	.col-m-9 {width: 75%;}
	.col-m-10 {width: 83.33%;}
	.col-m-11 {width: 91.66%;}
	.col-m-12 {width: 100%;}
}

/* laptops/desktops >= 992px */
@media only screen and (min-width: 992px) {
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}

/* large laptops and desktops >= 1200px */
@media only screen and (min-width: 1200px) {
	.col-xl-1 {width: 8.33%;}
	.col-xl-2 {width: 16.66%;}
	.col-xl-3 {width: 25%;}
	.col-xl-4 {width: 33.33%;}
	.col-xl-5 {width: 41.66%;}
	.col-xl-6 {width: 50%;}
	.col-xl-7 {width: 58.33%;}
	.col-xl-8 {width: 66.66%;}
	.col-xl-9 {width: 75%;}
	.col-xl-10 {width: 83.33%;}
	.col-xl-11 {width: 91.66%;}
	.col-xl-12 {width: 100%;}
}

